body {
    background-color: lightblue;
}

.button {
    border: none;
    padding: 0.625em;
    border-radius: 0.5em;
    cursor: pointer;
}

.button:hover {
    filter: brightness(0.9);
}

.button:active {
    transform: translateY(2px);
}

.person-selector {
    display: flex;
}

.send-button {
    background-color: lightseagreen;
    color:black;
    margin-left:0.625em;
}

.chat-container {
    background: black;
}

.chat-header {
    margin-bottom: 1em;
    color:white;
}

.chat-messages {
    height: 23em;
    overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
    display:none;
}

.message {
    padding: 0.625em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction:column;
    color: black;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 0.31em;
}

.message-text {
    font-size:1em;
    margin-bottom:0.31em;
    word-wrap: break-word;
}

.message-timestamp {
    font-size: 0.75em;
    text-align:right;
}

.blue-bg {
    background-color: lightseagreen;
}
.gray-bg {
    background-color:#3d5365;
}

.chat-input-form {
    display: flex;
    align-items:center;
    gap:.625em;
}

.chat-input {
    padding: 0.625em;
    border: none;
    border-radius: 0.5em;
    background-color: white;
    color: black;
    font-size: 1em;
    flex-grow:1;
}
